body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
}

.menu {
  width: 200px;
  background: #1b1b1b;
  padding: 10px;
}

.menu button {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.menu button:hover {
  background: #555;
}

.content {
  flex: 1;
  padding: 20px;
}

.hidden {
  display: none;
}

input {
  padding: 10px;
  width: 250px;
  margin-bottom: 10px;
}

.btns button {
  margin-right: 10px;
  padding: 10px 15px;
}

/* SPINNER */
#spinnerBox {
  margin-top: 30px;
  position: relative;
  width: 220px;
}

.pointer {
  text-align: center;
  font-size: 24px;
  margin-bottom: -10px;
}

#spinner {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #444;
  background: conic-gradient(
    #f44336 0deg 60deg,
    #ff9800 60deg 120deg,
    #ffeb3b 120deg 180deg,
    #4caf50 180deg 240deg,
    #2196f3 240deg 300deg,
    #9c27b0 300deg 360deg
  );
  transition: transform 4s ease-out;
}
